/**
 * 字体颜色
 * @author bigfact
 */

@import './_globals';

// 主色调
.c-main {
  color: $main-color;
}

// 默认字体色
.c-black {
  color: $black;
}
.c-default {
  color: $black;
}

// 白色
.c-white {
  color: #FFF;
}

// 重要性较低
.c-light {
  color: $light;
}

// 重要性一般
.c-gray {
  color: $gray;
}

// 占位字符颜色
.c-placeholder {
  color: #AEAEAE;
}

// 重要提醒
.c-red {
  color: $red;
}
.c-danger {
  color: $red;
}

// 成功
.c-green {
  color: #69C959;
}
.c-success {
  color: #69C959;
}

// 警告
.c-yellow {
  color: #FFB844;
}
.c-warning {
  color: #FFB844;
}

// 链接
.c-link {
  color: #4A90E2;
}
