// @import "compass";

// 屏幕适配设置
// 与 /src/services/px2rem.js 中 rate 的值一致
$_html_font_size: 10;
$html_font_size: $_html_font_size + px;
$html_max_width: 768px;

// 单位转换
@function px2rem($px) {
	@return $px / $_html_font_size * 1rem;
}
@function px2rem2($px) {
	@return $px / 2 / $_html_font_size * 1rem;
}
// 颜色
$red: #FF6262;
$deep-red: #DB3738;
$orange-red: #F24F2D;

$gray: #747474;
$light: #DBDBDB;
$rice: #F6F3F3;
$black: #383838;
$main-color: #FF6262;

/**
 * 字体颜色定义
 */
$color-primary: #383838;
$color-important: #FF6262;
$color-gray: #747474;
$color-light: #DBDBDB;
$color-white: #FFFFFF;
$color-link: #4A90E2;

/**
 * 背景色定义
 */
$bg-primary: #FFFFFF;
$bg-default: #F6F3F3;
$bg-important: #FF6262;
$bg-light: #DBDBDB;

$c-yellow: #FFB844;
