/**
 * 转菊花样式
 * @author bigfact
 */

/**
 * 弹窗背景
 */
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2000px;
  background: rgba(0, 0, 0, .6);
  z-index: 999;
}

/**
 * 页面切换的 loading 样式
 */
.switch-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  z-index: 999999999;
  .spinner-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}